$(function(){
    $('#comment-<%= @comment.id %>').addClass('animated bounceOut')
                                                                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
        function(){
            $('#comment-<%= @comment.id %>').remove();
            if(!$('.comments .commenter').length>0){
                $('.comments').html('<div class="ui center aligned basic segment">...>_<...</div>')
            }
        }
    );
});