<% flash.each do |key, value| %>
  <div class="ui <%= key %> message flash center">
  	  <%= value %>
  </div>
<% end %>
<script>
  $(function(){
    setTimeout(function(){
      $(".ui.flash").closest(".message").addClass('animated zoomOutUp')
    },3000)
  })
</script>