# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b4fd19ab57cdbfc0db34daa5294a7fdd72650de2eb9dc924a119a8e81f13bb17beced9ed89db3343224f858dca67f22f12eb8dee434fce5db3e367e39a208c3b

test:
  secret_key_base: ab170a92cab835d30362fb86e3694065c4243f554bc77096993c9d3c4f2fbe821ab81ac46a0b9755eb296f0a7422c832e8c3d31878ac9de2029270bc36a59397

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
