html.turbolinks-progress-bar::before {
    background-color: #FFB8B8 !important;
    height: 3px !important;
}
.container {
    padding-top: 35px;
    padding-right: 14px;
    .grid {
        padding-top: 100px;
    }
}
.flash {
    margin-right: -14px !important;
}
.center {
    text-align: center;
}
.login-form {
    padding-top: 5px;
    padding-bottom: 10px;
}
.thumb {
    width: 100px;
    height: 100px;
}
.ui.form {
    margin-top: 10px;
}
.rotating {
    animation: rotating 8s linear infinite;
    -webkit-animation: rotating 8s linear infinite;
}
#error_explanation {
    .ui.message {
        box-shadow: none;
    }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotating {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
.stop-rotate {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}