.user-avatar {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid rgba(187, 187, 187, 0.8);
}
.mini-avatar {
  width: 20px !important;
  height: 20px !important;
}
.session-buttons {
  width: 100%;
  .button {
    width: 49%;
  }
}