.user-avatar {
    cursor: pointer;
    margin: 0 auto;
}
.mini-avatar {
  width: 20px !important;
  height: 20px !important;
}
.login-form {
    padding-top: 5px;
    padding-bottom: 10px;
}
.thumb {
    width: 100px;
    height: 100px;
}
.lg {
  width: 200px;
  height: 200px;
}
.session-buttons {
  width: 100%;
  .button {
    width: 49%;
  }
}
#user-show {
  .info-column {
    background-color: #fff;
    @include border-radius(5px);
    padding: 25px;
    color: #666;
    border-right: 3px solid #F7F6F2;
    .user-status {
      padding-left: 20px;
    }  
  }
  .content-column {
    background-color: #fff;
    @include border-radius(5px);
    padding: 30px;
    margin-bottom: 50px;
    .status-panel {
      min-height: 500px;
    }
  }
}